extends ../shared/template
block title
  title jQuery Intro

block headline
  h1 jQuery Lab

block content
  button#red RED
  br
  button#yellow YELLOW
  br
  button#color COLOR
  input#color-value(type='color', value='#cccccc')
  br
  button#fadein Fade In
  button#fadeOut Fade Out
  input#time(type='number', placeholder='in miliseconds')

  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .i I

  footer
    | I'm in the footer

block scripts
  script(src='/js/user/main.js')
  script(src='/js/user/alpha.js')
